.env*
.venv

# IDE
.idea/

# Python
*.pyc
**/__pycache__/

db.sqlite3

.DS_Store
.deployment

**/node_modules/

**/Vinci-8B-base
**/Vinci-8B-ckpt
**/.cache

# Android build artifacts
app/build/
build/
.gradle/
.cxx/
*.apk
*.so
